    <footer  class="footnote footnote-tiffany">
        <div class="container">
                <a class="foot-item" href="mailto:{{ site.email }}" target="_blank"><span class="octicon octicon-mail"></span></a>
                <a class="foot-item" href="{{ '/feed.xml' | prepend: site.baseurl | prepend: site.url }}" target="_blank"><span class="octicon octicon-rss"></span></a>
                &nbsp;
                <a href="https://mhkarami97.ir"><span class="word-keep">&copy; mhkarami97</span></a>
        </div>
    </footer>
    <script type="text/javascript" src="{{'/static/js/jquery.min.js' | prepend:site.baseurl | prepend: site.url  }}"></script>
    <script type="text/javascript" src="{{'/static/js/bootstrap.min.js' | prepend:site.baseurl | prepend: site.url  }}"></script>
    <script type="text/javascript" src="{{'/static/js/script.js' | prepend:site.baseurl | prepend: site.url  }}"></script>
    {% for script in page.scripts %}<script type="text/javascript" src="{{'/static/js/' | append:script | prepend:site.baseurl | prepend: site.url  }}"></script>
    {%endfor%}
